#headimg {
    background-color:rgb(78 160 255);
    height: 130px;
    background-image: url("../img/pattern.png");
    background-size: 500px;
    background-position-x:90px ;
}
#logo {
    background-image: url("../img/logo.svg");
    height: 130px;
    background-repeat: no-repeat;
    background-size: 220px;
    background-position-y: 55px;
    background-position-x:12px ;
}
body {
    margin: 0;
    padding: 0;
}
main {
    margin-left: 12px;
}
.title p {
    color: rgb(130 130 130);
    margin: 0;
    font-weight: bold;
}
.title h1 {
    margin: 5px 0px;
}
.author {
    color: rgb(42 172 230);
    font-weight: bold;
}
.title {
    margin-bottom: 20px;
}
.paragraf {
    margin: 0;
    font-size: 12px;
}
.lay {
    background-color: yellow;
}
.lista {
    padding: 12px;
}
.table {
    text-align: left;
    border-collapse: collapse;
}
.headrow {
    color: white;
    background-color: rgb(31 169 229) ;
}
.bodyrow {
    background-color: rgb(177 229 242);
}
.spano {
    width: 25%;
}
.foot {
    color: rgb(130 130 130);
    font-weight: bold;
}
.otne div {
    width: 220px;
}
.otne {
    width: 220px;
}
.otne span {
    margin-left: 15px;
    
}
#pc {
    background-image: url("../img/monitor.jpg");
    height: 130px;
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
}
#graph {
    background-image: url("../img/graph.jpg");
    height: 130px;
    background-repeat: no-repeat; 
    background-size: contain;
    margin-top: 10px;
    color: white;
}